<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>jdbc</display-name>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ServletFriends</servlet-name>
		<servlet-class>servlet.ServletFriends</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletFriends</servlet-name>
		<url-pattern>/servletfriends</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>servletfriends</welcome-file>
	</welcome-file-list>
</web-app>  
